.Rproj.user
.Rhistory
.RData
.Ruserdata
FROGS.Rproj
img/FROGS_preprocess_summary_old.png
lib/*.pyc
lib/libR/*
lib/phyloseq-extended-0.99.tar.gz
lib/external-lib/compute_niche.R
lib/external-lib/copy_number_correction.R
lib/external-lib/edgePCA.R
lib/external-lib/FileSaver.js
lib/external-lib/graphical_methods.R
lib/external-lib/import_frogs.R
lib/external-lib/LICENSE
lib/external-lib/load-extra-functions.R
lib/external-lib/NCM_fit.R
lib/external-lib/phyloseq-extended.Rproj
lib/external-lib/plot_merged_trees.R
lib/external-lib/prevalence.R
lib/external-lib/README.md
lib/external-lib/richness.R
lib/external-lib/specificity_methods.R
lib/external-lib/ternary_plot.R
lib/external-lib/test
lib/external-lib/tree_methods.R
libexec/classifier.jar
libexec/ITSx
libexec/ITSx_db/*
libexec/Rscript
libexec/blastn
libexec/hmmpress
libexec/hmmscan
libexec/pear
libexec/swarm
libexec/swarm2.1.1
libexec/swarm2.1.13
libexec/swarm2.2.0
libexec/swarm2.2.1
libexec/vsearch
libexec/vsearch-2.4.3
tools/*/test/*
tools/*/test.sh
tools/*/data
tools/deseq2*
.gitignore
libexec/cutadapt
libexec/vsearch-2.8.4
test/res/
tools/affiliation_OTU/check_vsearch_global_aln/
tools/affiliation_OTU/needleall.error
tools/affiliation_OTU/note
tools/affiliation_OTU/test_cluster1_2/
tools/affiliation_OTU/test_needle/
tools/phylo_import/version_notebook_encours/
tools/preprocess/note


